
html, body, div, span, applet, object, iframe,
h1,
.tailor-header h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main, .footer {
  background-color: black;
}


h1,
.tailor-header h1 {
  max-width: 730px;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin: 80px 0 48px 0;
  text-align: center;
}

.services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.services-container .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 32px;
  background: #FFFFFF;
  border-radius: 8px;
}

.services-container .services-item span {
  margin-top: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.services-container .services-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
  margin-bottom: 40px;
}

.services-container .services-item a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #8C30F5;
}

.explore {
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 48px 0 80px 0;
}

.logo-fild {
  margin-top: 10px;
  padding: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(192, 204, 218, 0.1)), color-stop(50.38%, rgba(192, 204, 218, 0.6)), to(rgba(192, 204, 218, 0.1)));
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.logo-fild .logo-white-bg {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-fild .logo-white-bg img {
  padding: 20px;
}

.header-container {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #0B0D17;
}

.header-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-container ul li {
  display: inline-block;
  margin-left: 40px;
}

.header-container a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-container a:first-child img {
  margin-right: 9px;
}

.header-container a {
  font-size: 16px;
  text-decoration: none;
  color: #1B0A42;
}

.header-container a:hover {
  opacity: 50%;
}

.header-container img:hover {
  opacity: 50%;
}

.header-container div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tailor-header {
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tailor-header h1 {
  color: black;
  margin: 64px 0 8px 0;
}

.tailor-header p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.tailor-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.tailor-container .tailor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 32px;
}

.tailor-container .tailor-item span {
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tailor-container .tailor-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
  text-align: center;
}

.footer .footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #D9DBE1;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .footer-container a {
  color: #D9DBE1;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

.footer .footer-container a:hover {
  color: #FFFFFF;
}

.footer .footer-container p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.footer .footer-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer-container .right span {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #D9DBE1;
  margin-bottom: 16px;
}

.footer .footer-container img {
  margin-bottom: 12px;
}

.footer .footer-container img:hover {
  opacity: 50%;
}

.footer .footer-container ul {
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer .footer-container ul li {
  display: inline-block;
  margin-right: 24px;
}
